<div id="cardColumns">
    <table id="cardTable">
        <tr id="cardTitle">
            <td>Column 1</td>
            <td>Column 2</td>
            <td>Column 3</td>
            <td>Column 4</td>
        </tr>

        <tr>
            <td class="columnOfCards" id="c0">
                <div class="cardColHolder">

                </div>
            </td>
            <td class="columnOfCards" id="c1">
                <div class="cardColHolder">

                </div>
            </td>
            <td class="columnOfCards" id="c2">
                <div class="cardColHolder">

                </div>
            </td>
            <td class="columnOfCards" id="c3">
                <div class="cardColHolder">

                </div>
            </td>
        </tr>
    </table>
</div>